.buy {
  /* border: 2px solid red; */
  /* height:100vh; */
  margin-top: 50px;
  padding: 50px 0;
}

.card-swiper .profile-details {
  /* display: flex;
  align-items: center; */
  column-gap: 12px;
  padding: 15px;
  padding-bottom: 0;
  /* border:2px solid blue; */

}

.card {
  position: relative;
}

.card-details .name {
  font-size: 15px;
  font-weight: 500;
  /* border:2px solid red; */
}

.card-details .job {

  color: rgba(0, 0, 0, 0.7);
}

.image-card {
  position: relative;
}

.read-more {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.45);

}

.icons {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
  padding: 10px;
}

.icon-2 {
  /* border:2px solid red; */
  position: relative
}

.icon-2:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 150%;
  top: 0;
  background: gray;

}

.icon-2:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  right: 150%;
  bottom: 0;
  background: gray;

}

.line-contact {
  background: linear-gradient(270deg, rgba(22, 52, 70, 0) 0%, #E1AB26 47.92%, rgba(22, 52, 70, 0) 100%);
  width: 100%;
  height: 3px;

}

.info-contact {
  /* border:2px solid blue; */
  /* height:100vh; */
}

.info-contact img {
  width: 30px;
}

.description {
  border: 2px solid #D8B45C;
  /* background: linear-gradient(180deg, #D8B45C 0%, rgba(255, 255, 255, 0.515625) 48.44%, #D8B45C 100%); */
  padding: 30px;
  border-radius: 5px;
  font-size: 20px;

}

.contact-right {
  /* border:2px solid #D8B45C; */
  height: 300px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 20px;


}

.contact-right .box {
  width: 100%;
  height: 60px;
  border: 2px solid #D8B45C;
  border-radius: 12px;
  background: #D8B45C;
  color: white;
}

.contact-right .box-2 {
  background: white;
  border: 2px solid #D8B45C;
  color: black;
}

.location {
  /* border: 2px solid red; */
}

@media screen and (max-width: 768px) {
  .location {
    /* border: 2px solid green; */
    font-size: 14px;
  }
}